/*
   Theme: Hymby's default
   Author:
   Author URI:
   Description:
   Version:
   License:
   License URI:
   Tags:
*/

/* =========================================================================
   MAIN
   ========================================================================= */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #add8e6;
  font-family: Georgia, Palatino, serif;
}

a {
  color: #0099ff;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: none;
  color: #0000ff;
}

/* =========================================================================
   NAVIGATION / MENU
   ========================================================================= */

aside#navigation {
  display: block;
  top: 0;
  right: 0;
  height: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #6891cf;
}
aside#navigation ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
aside#navigation ol li {
  height: 20px;
  width: 20px;
  float: left;
}
aside#navigation ol li a {
  display: block;
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
}
aside#navigation ol li a i {
  margin: 0;
  padding: 0;
}
aside#navigation ol li a i.fa-info-circle {
}
aside#navigation ol li a i.fa-home {
}
aside#navigation ol li a i.fa-cog {
}
aside#navigation ol li a {
  display: block;
  color: #ffffff;
}
aside#navigation ol li a:visited {
  color: #ffffff;
}
aside#navigation ol li a:hover {
  background-color: #eeeeee;
  color: #000000;
}

/* =========================================================================
   MAIN HEADER
   ========================================================================= */


header#main {
  margin-bottom: 30px;
  color: #ffffff;
}
header {
  position: relative;
  clear: both;
}
header h1 {
  text-align: left;
  margin: 15px 0 0 15px;
  font-size: 28px;
}
header h1 input {
  width: 50%;
}
header a {
  text-decoration: none;
  color: #ffffff;
}
header a:visited {
  color: #ffffff;
}
header.main {
  z-index: 0;
}
header p#subtitle {
  text-align: left;
  margin: 0 0 0 15px;
  padding: 0;
}

/* =========================================================================
   CONTENT
   ========================================================================= */

/* Main content */
#content {
  width: 90%;
  margin: 0 auto;
  padding: 0 0.5%;
  min-height: 300px;
}

/* Notes */
article#error {
  padding: 0;
  margin: 0;
}
section#warning {
  width: 98%;
  padding: 5px;
  margin: 1% auto 0 auto;
  background-color: #fcfce9;
  color: #494949;
}
section#error {
  width: 98%;
  padding: 5px;
  margin: 1% auto 0 auto;
  background-color: #ffdfdf;
  color: #494949;
}

.success {
  width: 98%;
  padding: 1%;
  margin: 1.7% auto;
  background-color: #eafce9;
  color: #494949;
}

article {
  margin: 0 0 1.7% 0;
  padding: 0 0 0 0;
  min-height: 150px;
  background-color: #eeeeee;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 1px 1px 5px #000;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
}
article:last-child {
  margin-bottom: 0;
}
article h1 {
  height: 99%;
  margin: 0;
  padding: 0 0 0 1%;
  font-size: 23px;
  line-height: 50px;
  border-bottom: thin solid #999999;
}
article h1 input#name {
  background-color: #eeeeee;
  border: none;
  text-align: center;
  width: 100%;
  padding: 0;
}
article h1 a {
  text-decoration: none;
  color: #0099ff;
}
article h1 a:visited {
  color: #0099ff;
}
article h1 a:hover {
  color: blue;
}
article#edit post, input#name {
  font-weight: bold;
  font-size: 18px;
}
article ol.actions {
  width: auto;
  float: right;
  list-style-type: none;
  margin: 3px 3px 0 0;
  padding: 0;
  width: auto;
  height: 20px;
}
article ol.actions li {
  float: right;
}

article ol.actions li a:hover {
  color: #0000ff;
}

article ol.actions a.delete {
  color: #000000;
}

article ol.actions a.edition-title {
  color: #000000;
}

article a.edition {
  display: block;
  text-align: left;
  color: #000000;
  padding: 0;
  margin: 0 0 0 5px;
}
article a.edition:hover {
  color: #0000ff;
}

article section.excerpt {
  margin: 0 auto;
  width: 98%;
}

article section.doc {
  margin: 0 auto;
  padding: 5px 0;
  width: 98%;
}

article section#metadata {
  display: none;
}

article section#content {
  padding: 0;
  width: 100%;
}

article section#content textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

article footer {
  clear: both;
  margin: 10px 0;
}

/* =========================================================================
   MAIN FOOTER
   ========================================================================= */

footer#main {
  position: relative;
  min-height: 30px;
  width: 85%;
  margin: 0 auto;
  padding: 0;
}
footer#main hr {
    margin-top: 0;
    width: 50%;
}
footer#main p {
  margin: 0;
  padding: 0;
  text-align: center;
}
footer#main p a {
  color: #000000;
  text-decoration: none;
}
footer#main p a:visited {
  color: #000000;
}
footer#main p a:hover {
  color: #0000ff;
}

/* =========================================================================
   FORMS
   ========================================================================= */

label
{
	display: block;
	width: 300px;
	float: left;
}

input#save {
  text-align: auto;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-top: thin solid #000000;
  background-color: #ffffff;
}

/* =========================================================================
   SPECIFIC
   ========================================================================= */

/* New note */
a#new {
  display: block;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  color: #0099ff;
  margin-bottom: 1.7%;
}
a#new:visited {
  color: #0099ff;
}
a#new article {
  padding: 1% 0;
  min-height: 0;
}
